Repository AINative-Studio/ainative-code: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Authentication, LLM Providers, Terminal UI, Configuration, API Clients, Database

refactor: Remove deprecated files replaced by new implementations
  internal/session/session.go
  internal/tools/tool.go
Due: unittests

feat: Add Google Gemini provider implementation (TASK-026, #19)
  GEMINI_IMPLEMENTATION_REPORT.md
  examples/config_gemini.yaml
  examples/gemini_example.go
  internal/provider/gemini/README.md
  internal/provider/gemini/client.go
  internal/provider/gemini/errors.go
  internal/provider/gemini/errors_test.go
  internal/provider/gemini/gemini_test.go
  internal/provider/gemini/streaming.go
  internal/provider/gemini/types.go
  tests/integration/gemini_integration_test.go
Due: unittests

feat: Add AWS Bedrock provider implementation (TASK-027, #20)
  docs/providers/bedrock.md
  internal/provider/bedrock/auth.go
  internal/provider/bedrock/auth_test.go
  internal/provider/bedrock/client.go
  internal/provider/bedrock/client_test.go
  internal/provider/bedrock/config.go
  internal/provider/bedrock/errors.go
  internal/provider/bedrock/errors_test.go
  internal/provider/bedrock/messages.go
  internal/provider/bedrock/messages_test.go
  internal/provider/bedrock/streaming.go
  internal/provider/bedrock/streaming_test.go
  tests/integration/bedrock_test.go
Due: unittests

feat: Add Ollama provider for local LLAMA models (TASK-029, #22)
  docs/ollama-provider.md
  internal/provider/ollama/client.go
  internal/provider/ollama/client_test.go
  internal/provider/ollama/config.go
  internal/provider/ollama/config_test.go
  internal/provider/ollama/errors.go
  internal/provider/ollama/errors_test.go
  internal/provider/ollama/messages.go
  internal/provider/ollama/messages_test.go
  internal/provider/ollama/models.go
  internal/provider/ollama/models_test.go
  internal/provider/ollama/streaming.go
  internal/provider/ollama/streaming_test.go
  internal/provider/ollama/types.go
Due: unittests

feat: Add comprehensive configuration schema (TASK-005, #5)
  docs/TASK-005_COMPLETION_REPORT.md
  docs/environment-variables.md
  examples/config.minimal.yaml
  internal/config/defaults.go
  internal/config/defaults_test.go
  internal/config/loader.go
  internal/config/types.go
  tests/integration/config_integration_test.go
Due: unittests, Configuration

feat: Add Meta LLAMA provider with full streaming support
  docs/providers/meta-llama.md
  internal/provider/meta/client.go
  internal/provider/meta/client_test.go
  internal/provider/meta/config.go
  internal/provider/meta/config_test.go
  internal/provider/meta/errors.go
  internal/provider/meta/errors_test.go
  internal/provider/meta/types.go
  internal/provider/meta/types_test.go
  tests/integration/meta_test.go
Due: unittests

Add ThinkingBlock support and prepare Ollama for hosted services
  internal/provider/ollama/config.go
  internal/provider/provider.go
Due: unittests

Complete Ollama provider API key authentication support
  internal/provider/ollama/client.go
  internal/provider/ollama/client_test.go
  internal/provider/ollama/config.go
  internal/provider/ollama/models.go
Due: unittests

Fix critical JWT authentication error handling bugs
  internal/auth/jwt.go
  internal/auth/jwt_test.go
Due: unittests, Authentication

WIP: Add Azure OpenAI provider foundation
  internal/provider/azure/config.go
  internal/provider/azure/types.go
Due: unittests

fix: resolve build failures in security tests, TUI, and auth
  internal/auth/local/store.go
  internal/tui/commands.go
  tests/security/input_validation_test.go
  tests/security/rate_limiting_test.go
Due: unittests, Authentication, Terminal UI

feat: complete Azure OpenAI provider implementation
  internal/provider/azure/client.go
  internal/provider/azure/client_test.go
Due: unittests

security: update jose2go to v1.7.0 to fix CVE vulnerabilities
  go.mod
  go.sum
Due: none

security: add comprehensive security audit report and update gitignore
  .gitignore
  docs/security/SECURITY_AUDIT_REPORT.md
Due: none

fix: Resolve integration test build errors
  internal/tui/model.go
  tests/integration/lsp_tui_test.go
  tests/integration/meta_test.go
Due: unittests, Terminal UI

fix: Partial benchmark suite fixes for issue #65
  internal/cmd/root.go
  internal/config/loader.go
  tests/benchmark/cli_bench_test.go
  tests/benchmark/database_bench_test.go.disabled
  tests/benchmark/helpers.go
Due: unittests, Configuration

fix: Complete benchmark suite fixes for issue #65
  tests/benchmark/database_bench_test.go
  tests/benchmark/memory_bench_test.go
  tests/benchmark/streaming_bench_test.go
  tests/benchmark/token_bench_test.go
Due: none

docs: complete project documentation structure and integration guides
  CODE_OF_CONDUCT.md
  README.md
  docs/api/README.md
  docs/api/provider-interface.md
  docs/architecture/README.md
  docs/architecture/component-design.md
  docs/architecture/system-overview.md
  docs/examples/README.md
  docs/examples/basic-usage.md
  docs/integrations/README.md
  docs/integrations/authentication-setup.md
  docs/integrations/design-token-integration.md
  docs/integrations/rlhf-integration.md
  docs/integrations/strapi-integration.md
  docs/integrations/troubleshooting.md
  docs/integrations/video-tutorials.md
  docs/integrations/zerodb-integration.md
Due: none

fix: Resolve critical benchmark blockers for issue #65
  Makefile
  TASK-012-DEVELOPMENT-SETUP-COMPLETION.md
  benchmark_results.txt
  docs/reports/benchmark_baseline_report.md
  tests/benchmark/baseline_output.txt
  tests/benchmark/streaming_bench_test.go
Due: none

fix: Embed version information in binary builds
  Dockerfile
  Makefile
Due: none

docs: Fix incorrect 'init' command references
  README.md
  docs/authentication/user-guide.md
  docs/examples/README.md
  docs/examples/basic-usage.md
  docs/releases/migration-guide.md
  docs/releases/v1.0-release-notes.md
  docs/user-guide/README.md
  docs/user-guide/configuration.md
  docs/user-guide/faq.md
  docs/user-guide/getting-started.md
  docs/user-guide/installation.md
  docs/user-guide/troubleshooting.md
Due: none

fix: Add proper error handling for config file loading
  internal/cmd/root.go
Due: unittests

feat: Add comprehensive config value validation
  internal/cmd/config.go
Due: unittests

fix: Reorganize examples to fix multiple main() build errors
  examples/README.md
  examples/embeddings/main.go
  examples/gemini/main.go
  examples/openai_provider/main.go
Due: none

docs: Add semantic versioning policy and v0.1.0 release documentation
  CHANGELOG.md
  docs/releases/README.md
  docs/releases/v0.1.0-release-notes.md
  docs/releases/versioning-policy.md
Due: none

feat: implement session create command for issue #80
  docs/implementations/ISSUE-080-SESSION-CREATE-IMPLEMENTATION.md
  docs/user-guide/sessions.md
  internal/cmd/session.go
  internal/cmd/session_create_test.go
Due: unittests

docs: add issue #77 completion report
  docs/ISSUE-77-COMPLETION-REPORT.md
Due: none

feat: implement comprehensive environment variable support
  configs/example-config.yaml
  docs/configuration/environment-variables.md
  internal/cmd/config_test.go
  internal/cmd/rlhf_analytics.go
  internal/cmd/root.go
  internal/cmd/root_env_test.go
  internal/config/env_integration_test.go
  internal/config/loader.go
Due: unittests, Configuration

feat: implement automated release distribution system
  .goreleaser.yaml
  README.md
  docs/homebrew-distribution.md
  docs/installation.md
  docs/release-process.md
  install.ps1
  install.sh
  scripts/homebrew/ainative-code.rb.template
Due: none

fix: correct FTS5 table references in session search queries
  internal/session/search.go
Due: unittests

chore: add .claude directory with gitkeep
  .claude/.gitkeep
Due: none

chore: cleanup .claude.backup directory
  .claude.backup/settings.local.json
Due: none

feat: add GitHub Actions workflow for automated releases
  .github/workflows/release.yml
Due: none

fix: remove Windows ARM64 build from release workflow
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix: focus on macOS and Linux, remove Windows support
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix: skip git validation in GoReleaser
  .github/workflows/release.yml
Due: none

fix: add cmd/ainative-code source files to git
  .gitignore
  cmd/ainative-code/main.go
  cmd/ainative-code/main_test.go
Due: none

Path conditions:
  unittests: any of: internal/, pkg/, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  Authentication: any of: internal/auth/**, pkg/auth/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  LLM Providers: any of: internal/llm/**, pkg/llm/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  Terminal UI: any of: internal/tui/**, pkg/tui/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  Configuration: any of: internal/config/**, pkg/config/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  API Clients: any of: internal/api/**, pkg/api/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
  Database: any of: internal/database/**, pkg/database/**, but not: **/*_test.go, **/testdata/**/*, tests/**/*, **/*.pb.go, **/*.gen.go, cmd/**/*, scripts/**/*, docs/**/*, examples/**/*
