Repository AINative-Studio/ainative-code: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Authentication, LLM Providers, Terminal UI, Configuration, API Clients, Database

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "**/*_test.go"
  - "**/testdata/**/*"
  - "tests/**/*"
  - "**/*.pb.go"
  - "**/*.gen.go"
  - "cmd/**/*"  # Main entry points don't need coverage
  - "scripts/**/*"
  - "docs/**/*"
  - "examples/**/*"

flags:
  unittests:
    paths:
      - internal/
      - pkg/
    carryforward: true

component_management:
  individual_components:
    - component_id: auth
      name: Authentication
      paths:
        - internal/auth/**
        - pkg/auth/**

    - component_id: llm
      name: LLM Providers
      paths:
        - internal/llm/**
        - pkg/llm/**

    - component_id: tui
      name: Terminal UI
      paths:
        - internal/tui/**
        - pkg/tui/**

    - component_id: config
      name: Configuration
      paths:
        - internal/config/**
        - pkg/config/**

    - component_id: api
      name: API Clients
      paths:
        - internal/api/**
        - pkg/api/**

    - component_id: database
      name: Database
      paths:
        - internal/database/**
        - pkg/database/**

fix: disable SBOM and GPG signing in releases
  .goreleaser.yaml
Due: none

fix: resolve issues #89, #90, #91
  .goreleaser.yaml
  install.sh
  internal/cmd/session.go
  internal/cmd/utils.go
  internal/cmd/zerodb.go
Due: unittests

fix: resolve setup wizard keyboard input and install script PATH issues
  install.sh
  internal/setup/prompts.go
Due: unittests

fix: resolve 10 critical issues and MCP test failures for v0.1.4
  ISSUE-94-SUMMARY.md
  ISSUE_103_FIX_REPORT.md
  TESTING-ISSUE-94.md
  docs/ISSUES-100-102-FIX-REPORT.md
  docs/examples/basic-usage.md
  docs/implementations/ISSUE-080-SESSION-CREATE-IMPLEMENTATION.md
  docs/issue-94-fix-report.md
  docs/planning/PRD.md
  docs/reports/ISSUES-98-101-FIX-REPORT.md
  docs/security/ISSUE-97-API-KEY-MASKING-REPORT.md
  install.sh
  internal/cmd/auth.go
  internal/cmd/auth_test.go
  internal/cmd/chat.go
  internal/cmd/chat_test.go
  internal/cmd/config.go
  internal/cmd/config_masking.go
  internal/cmd/config_masking_test.go
  internal/cmd/config_test.go
  internal/cmd/design.go
  internal/cmd/mcp_test.go
  internal/cmd/rlhf.go
  internal/cmd/rlhf_interaction.go
  internal/cmd/session.go
  internal/cmd/session_delete_test.go
  internal/cmd/strapi.go
  internal/cmd/utils.go
  internal/mcp/registry.go
  internal/setup/prompts.go
  internal/setup/prompts_test.go
  test-install-fallback.sh
Due: unittests

feat: add Meta Llama API support and fix setup --force flag (v0.1.5)
  BUG_104_CODE_CHANGES.md
  BUG_104_FIX_SUMMARY.md
  BUG_104_TEST_REPORT.md
  internal/cmd/setup.go
  internal/cmd/utils.go
  internal/config/defaults.go
  internal/config/types.go
  internal/config/validator.go
  internal/setup/prompts.go
  internal/setup/wizard.go
  internal/setup/wizard_test.go
Due: unittests, Configuration

fix: resolve 10 critical issues and add UX gap analysis
  FIXES_ISSUES_99_96.md
  docs/UX_GAP_ANALYSIS.md
  final_verification_test.sh
  install.sh
  internal/cmd/design.go
  internal/cmd/mcp.go
  internal/cmd/root.go
  internal/cmd/session.go
  internal/cmd/setup.go
  internal/cmd/setup_test.go
  internal/cmd/utils.go
  internal/cmd/utils_integration_test.go
  internal/session/search.go
  internal/setup/prompts_test.go
  test-install-fallback.sh
Due: unittests

feat: implement critical UX improvements to match Crush CLI
  .gitignore
  go.mod
  go.sum
  internal/cmd/chat.go
  internal/cmd/logs.go
  internal/cmd/root.go
  internal/permissions/permissions.go
Due: unittests

fix: update version to 0.1.7
  internal/cmd/root.go
Due: unittests

fix: update auth endpoints to use production API (issue #115)
  internal/auth/doc.go
  internal/auth/types.go
  internal/auth/types_test.go
  internal/cmd/auth.go
  internal/cmd/auth_test.go
Due: unittests, Authentication

fix: update to Claude 4.5 models and improve error handling (issue #112)
  internal/cmd/chat.go
  internal/provider/anthropic/anthropic.go
  internal/provider/anthropic/anthropic_test.go
Due: unittests

fix: config reading from nested format after setup wizard (issue #96)
  internal/cmd/issue96_integration_test.go
  internal/cmd/root.go
  internal/cmd/root_test.go
Due: unittests

fix: add validation to reject empty/invalid config keys (issue #113)
  internal/cmd/config.go
  internal/cmd/config_test.go
Due: unittests

fix: implement file writing for design export and add path validation (issues #114, #109)
  internal/cmd/design.go
  internal/cmd/design_test.go
Due: unittests

fix: implement file writing for RLHF export with multiple formats (issue #114)
  internal/cmd/rlhf.go
Due: unittests

fix: prevent crash from empty/whitespace session search queries (issue #111)
  internal/session/options.go
  internal/session/search_crash_test.go
  internal/session/search_sanitize_test.go
  internal/session/search_trim_test.go
  internal/session/search_whitespace_test.go
Due: unittests

fix: enhanced error message for session search command (issue #111)
  internal/cmd/session.go
Due: unittests

fix: MCP command improvements with production API tests (issues #108, #107)
  internal/cmd/mcp.go
  internal/cmd/mcp_integration_test.go
  internal/cmd/mcp_production_test.go
  internal/cmd/mcp_real_server_test.go
  internal/cmd/mcp_test.go
  internal/cmd/mcp_url_validation_test.go
Due: unittests

fix: setup wizard enhancements with production API verification (issues #105, #103, #116)
  internal/config/validator.go
  internal/setup/prompts.go
  internal/setup/strapi_integration_test.go
  internal/setup/validation.go
  internal/setup/wizard.go
  internal/setup/zerodb_integration_test.go
  tests/integration/setup_bug_105_test.go
Due: unittests, Configuration

test: add production API integration tests for all fixes
  go.mod
  go.sum
  tests/integration/setup_arrow_key_real_api_test.go
  tests/integration/setup_wizard_production_api_test.go
  tests/integration/zerodb_production_api_test.go
Due: none

docs: add comprehensive fix reports and test scripts for all issues
  BUG_105_COMPREHENSIVE_FIX_REPORT.md
  BUG_105_EXECUTIVE_SUMMARY.md
  ISSUE_103_EXECUTIVE_SUMMARY.md
  ISSUE_103_FINAL_REPORT.md
  ISSUE_103_PRODUCTION_API_TEST_REPORT.md
  ISSUE_103_QUICK_REFERENCE.txt
  ISSUE_107_FIX_REPORT.md
  ISSUE_110_COMPREHENSIVE_REPORT.md
  ISSUE_110_EXECUTIVE_SUMMARY.md
  ISSUE_110_QUICK_REFERENCE.md
  ISSUE_116_COMPREHENSIVE_REPORT.md
  ISSUE_116_COMPREHENSIVE_TEST_REPORT.md
  ISSUE_116_EXECUTIVE_SUMMARY.md
  ISSUE_116_VISUAL_FLOW.md
  ISSUE_96_FIX_REPORT.md
  ISSUE_96_QUICK_SUMMARY.md
  ISSUE_96_VISUAL_FLOW.md
  ISSUE_99_FIX_REPORT.md
  docs/ISSUE-111-FIX-REPORT.md
  docs/ISSUE_108_FIX_SUMMARY.md
  docs/ISSUE_108_PRODUCTION_TEST_LOG.txt
  docs/ISSUE_108_VERIFICATION_REPORT.md
  docs/reports/ISSUE-113-CONFIG-KEY-VALIDATION-REPORT.md
  docs/testing/issue-108-fix-report.md
  test_chat_fix.sh
  test_config_flag_validation.sh
  test_issue96_fix.sh
  test_zerodb_production.sh
Due: none

chore: bump version to 0.1.8
  internal/branding/constants.go
Due: unittests

feat: add session list --json flag and fix critical CGO issue (v0.1.10)
  CHANGELOG.md
  CRITICAL_BUG_CGO_DISABLED.md
  Makefile
  docs/BUILD_NOTES_CGO.md
  internal/cmd/session.go
  tests/integration/session_list_json_test.go
Due: unittests

test: comprehensive user acceptance testing for v0.1.11
  USER_ACCEPTANCE_TEST_v0.1.11.md
Due: none

feat: add Component interface system for TUI elements
  internal/tui/completion.go
  internal/tui/components/adapters.go
  internal/tui/components/interface.go
  internal/tui/components/interface_test.go
  internal/tui/components/lifecycle.go
  internal/tui/components/popup.go
  internal/tui/dialogs/input.go
  internal/tui/dialogs/select.go
  internal/tui/hover.go
  internal/tui/navigation.go
  internal/tui/statusbar.go
Due: unittests, Terminal UI

feat: add dialog system with stack management
  internal/tui/dialogs/confirm.go
  internal/tui/dialogs/confirm_test.go
  internal/tui/dialogs/input_test.go
  internal/tui/dialogs/manager.go
  internal/tui/dialogs/manager_test.go
  internal/tui/dialogs/messages.go
  internal/tui/dialogs/select_test.go
  internal/tui/dialogs/styles.go
  internal/tui/model.go
  internal/tui/view.go
Due: unittests, Terminal UI

feat: integrate dialog system with TUI
  internal/tui/model.go
Due: unittests, Terminal UI

feat: add layout abstraction system
  internal/tui/layout/box.go
  internal/tui/layout/manager.go
  internal/tui/layout/manager_test.go
  internal/tui/layout/responsive.go
  internal/tui/layout/types.go
Due: unittests, Terminal UI

feat: add advanced modal manager with z-index and focus trapping
  internal/tui/dialogs/backdrop.go
  internal/tui/dialogs/confirm.go
  internal/tui/dialogs/focus.go
  internal/tui/dialogs/manager.go
  internal/tui/dialogs/manager_test.go
  internal/tui/dialogs/modal.go
  internal/tui/dialogs/shortcuts.go
  internal/tui/dialogs/styles.go
Due: unittests, Terminal UI

feat: add animation component wrapper for smooth 60 FPS animations
  go.mod
  go.sum
  internal/tui/components/ANIMATION_README.md
  internal/tui/components/animation.go
  internal/tui/components/animation_demo.go
  internal/tui/components/animation_demo_test.go
  internal/tui/components/animation_test.go
  internal/tui/components/transitions.go
Due: unittests, Terminal UI

docs: add Phase 1 & 2 analysis and implementation documentation
  ANALYSIS_INDEX.md
  ANALYSIS_SUMMARY.txt
  COMPONENT_QUICK_REFERENCE.md
  DEEP_CODEBASE_ANALYSIS.md
  docs/gap-analysis/BUBBLETEA_UI_UX_GAP_ANALYSIS.md
  docs/gap-analysis/EXECUTIVE_SUMMARY.md
  docs/refactor/PHASE_1_ASSIGNMENT.md
  docs/refactor/SESSION_SUMMARY.md
  internal/tui/components/ANIMATION_DEMO_OUTPUT.md
  internal/tui/dialogs/MODAL_DEMO.md
Due: unittests, Terminal UI

feat: add centralized theme system with hot-reload switching
  internal/tui/model.go
  internal/tui/theme/builtin.go
  internal/tui/theme/manager.go
  internal/tui/theme/messages.go
  internal/tui/theme/render.go
  internal/tui/theme/theme.go
  internal/tui/theme/theme_test.go
  internal/tui/update.go
  internal/tui/view.go
Due: unittests, Terminal UI

docs: add comprehensive theme system documentation
  internal/tui/theme/README.md
Due: unittests, Terminal UI

docs: add comprehensive theme system demo and showcase
  THEME_DEMO.md
Due: none

feat: add advanced components (draggable, resizable, splitview)
  internal/tui/components/ADVANCED_DEMO.md
  internal/tui/components/advanced_test.go
  internal/tui/components/draggable.go
  internal/tui/components/mouse.go
  internal/tui/components/multicolumn.go
  internal/tui/components/resizable.go
  internal/tui/components/splitview.go
Due: unittests, Terminal UI

feat: add toast/notification system with queue management
  internal/tui/model.go
  internal/tui/toast/manager.go
  internal/tui/toast/messages.go
  internal/tui/toast/styles.go
  internal/tui/toast/toast.go
  internal/tui/toast/toast_test.go
Due: unittests, Terminal UI

fix: resolve 9 test compilation errors in internal/tui
  internal/tui/init_test.go
  internal/tui/model_test.go
  internal/tui/view_test.go
Due: none

test: improve theme package coverage from 62.9% to 91.4%
  internal/tui/theme/theme_test.go
Due: none
