Repository AINative-Studio/ainative-code: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Authentication, LLM Providers, Terminal UI, Configuration, API Clients, Database

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "**/*_test.go"
  - "**/testdata/**/*"
  - "tests/**/*"
  - "**/*.pb.go"
  - "**/*.gen.go"
  - "cmd/**/*"  # Main entry points don't need coverage
  - "scripts/**/*"
  - "docs/**/*"
  - "examples/**/*"

flags:
  unittests:
    paths:
      - internal/
      - pkg/
    carryforward: true

component_management:
  individual_components:
    - component_id: auth
      name: Authentication
      paths:
        - internal/auth/**
        - pkg/auth/**

    - component_id: llm
      name: LLM Providers
      paths:
        - internal/llm/**
        - pkg/llm/**

    - component_id: tui
      name: Terminal UI
      paths:
        - internal/tui/**
        - pkg/tui/**

    - component_id: config
      name: Configuration
      paths:
        - internal/config/**
        - pkg/config/**

    - component_id: api
      name: API Clients
      paths:
        - internal/api/**
        - pkg/api/**

    - component_id: database
      name: Database
      paths:
        - internal/database/**
        - pkg/database/**

Implement comprehensive unit test coverage for core packages
  AGENT2_TASK080_COMPLETION.md
  COVERAGE_REPORT.md
  TEST_COVERAGE_SUMMARY.md
  TEST_FILE_STRUCTURE.md
  go.mod
  go.sum
  internal/auth/ARCHITECTURE.md
  internal/auth/doc.go
  internal/auth/errors.go
  internal/auth/interface.go
  internal/auth/interface_test.go
  internal/auth/jwt.go
  internal/auth/jwt_test.go
  internal/auth/pkce.go
  internal/auth/pkce_test.go
  internal/auth/types.go
  internal/auth/types_test.go
  internal/cmd/chat_test.go
  internal/cmd/config_test.go
  internal/cmd/root_test.go
  internal/cmd/version_test.go
  internal/config/loader_test.go
  internal/config/validator_test.go
  internal/tools/errors_test.go
  internal/tools/registry_test.go
  internal/tools/validator_test.go
Due: unittests, Authentication

Implement comprehensive unit test coverage for core packages (#73)
  AGENT2_TASK080_COMPLETION.md
  COVERAGE_REPORT.md
  TEST_COVERAGE_SUMMARY.md
  TEST_FILE_STRUCTURE.md
  go.mod
  go.sum
  internal/auth/ARCHITECTURE.md
  internal/auth/doc.go
  internal/auth/errors.go
  internal/auth/interface.go
  internal/auth/interface_test.go
  internal/auth/jwt.go
  internal/auth/jwt_test.go
  internal/auth/pkce.go
  internal/auth/pkce_test.go
  internal/auth/types.go
  internal/auth/types_test.go
  internal/cmd/chat_test.go
  internal/cmd/config_test.go
  internal/cmd/root_test.go
  internal/cmd/version_test.go
  internal/config/loader_test.go
  internal/config/validator_test.go
  internal/tools/errors_test.go
  internal/tools/registry_test.go
  internal/tools/validator_test.go
Due: unittests, Authentication

Implement comprehensive integration test suite
  internal/tools/builtin/exec_command.go
  internal/tools/builtin/http_request.go
  internal/tools/builtin/read_file.go
  internal/tools/builtin/write_file.go
  tests/TASK-081-SUMMARY.md
  tests/fixtures/config.yaml
  tests/fixtures/messages.json
  tests/fixtures/sessions.json
  tests/helpers/mock_provider.go
  tests/helpers/mock_server.go
  tests/helpers/test_db.go
  tests/integration/API_INTEGRATION_TESTS.md
  tests/integration/README.md
  tests/integration/auth_test.go
  tests/integration/chat_test.go.disabled
  tests/integration/design_test.go
  tests/integration/helpers.go
  tests/integration/integration_suite_test.go
  tests/integration/mocks/auth_server.go
  tests/integration/mocks/design_server.go
  tests/integration/mocks/rlhf_server.go
  tests/integration/mocks/strapi_server.go
  tests/integration/mocks/zerodb_server.go
  tests/integration/rlhf_test.go
  tests/integration/run_tests.sh
  tests/integration/session_test.go.disabled
  tests/integration/strapi_test.go
  tests/integration/tools_test.go.disabled
  tests/integration/zerodb_test.go
Due: unittests

feat: Implement Phase 4+ RLHF and Strapi Content Operations (TASK-060 to TASK-063)
  PHASE-4-PLUS-IMPLEMENTATION-SUMMARY.md
  internal/client/rlhf/client.go
  internal/client/rlhf/client_test.go
  internal/client/rlhf/doc.go
  internal/client/rlhf/types.go
  internal/cmd/rlhf.go
  internal/cmd/rlhf_analytics.go
  internal/cmd/rlhf_correction.go
  internal/cmd/rlhf_interaction.go
  internal/cmd/strapi_content.go
Due: unittests

feat: Implement JWT Token Structures (TASK-040)
  internal/auth/jwt/doc.go
  internal/auth/jwt/token.go
  internal/auth/jwt/token_test.go
  internal/auth/jwt/types.go
Due: unittests, Authentication

feat: Implement Local JWT Validation with Public Key Caching (TASK-041)
  internal/auth/jwt/validator.go
  internal/auth/jwt/validator_test.go
Due: unittests, Authentication

feat: Implement API Token Validation with Fallback (TASK-042)
  internal/auth/jwt/api_validator.go
  internal/auth/jwt/api_validator_test.go
Due: unittests, Authentication

feat: Implement OAuth 2.0 PKCE Flow (TASK-044)
  internal/auth/oauth/client.go
  internal/auth/oauth/client_test.go
  internal/auth/oauth/doc.go
  internal/auth/oauth/pkce.go
  internal/auth/oauth/pkce_test.go
Due: unittests, Authentication

feat: Implement Token Auto-Refresh Manager (TASK-045)
  internal/auth/refresh/doc.go
  internal/auth/refresh/manager.go
  internal/auth/refresh/manager_test.go
Due: unittests, Authentication

feat: Implement OS Keychain Integration (TASK-046)
  go.mod
  go.sum
  internal/auth/keychain/doc.go
  internal/auth/keychain/keychain.go
  internal/auth/keychain/keychain_test.go
Due: unittests, Authentication

feat: Implement Authentication CLI Commands (TASK-047)
  internal/cmd/auth.go
Due: unittests

feat: Implement local authentication fallback (TASK-043)
  go.mod
  go.sum
  internal/auth/local/doc.go
  internal/auth/local/store.go
  internal/auth/local/store_test.go
Due: unittests, Authentication

feat: Implement MCP Server Protocol (TASK-070)
  internal/mcp/client.go
  internal/mcp/client_test.go
  internal/mcp/doc.go
  internal/mcp/registry.go
  internal/mcp/registry_test.go
  internal/mcp/types.go
Due: unittests

feat: Implement MCP Server Management CLI (TASK-071)
  internal/cmd/mcp.go
  internal/cmd/mcp_test.go
Due: unittests

feat: Implement Extended Thinking Visualization (TASK-074)
  internal/client/thinking.go
  internal/client/thinking_test.go
  internal/config/thinking.go
  internal/config/thinking_test.go
  internal/config/types.go
  internal/config/validator.go
  internal/provider/anthropic/thinking.go
  internal/provider/anthropic/thinking_test.go
  internal/tui/THINKING_VISUALIZATION.md
  internal/tui/messages.go
  internal/tui/model.go
  internal/tui/styles.go
  internal/tui/styles_test.go
  internal/tui/thinking.go
  internal/tui/thinking_test.go
  internal/tui/thinking_view.go
  tests/integration/thinking_test.go
Due: unittests, Terminal UI, Configuration

feat: Implement Prompt Caching (TASK-075)
  internal/cache/doc.go
  internal/cache/manager.go
  internal/cache/manager_test.go
  internal/cache/types.go
Due: unittests

feat: Implement First-Time Setup Wizard (TASK-088)
  internal/cmd/root.go
  internal/cmd/setup.go
  internal/setup/doc.go
  internal/setup/prompts.go
  internal/setup/validation.go
  internal/setup/validation_test.go
  internal/setup/wizard.go
  internal/setup/wizard_test.go
Due: unittests

feat: Polish TUI Experience (TASK-089)
  docs/TASK-089-TUI-POLISH-SUMMARY.md
  docs/TUI-KEYBOARD-SHORTCUTS.md
  internal/tui/animations.go
  internal/tui/help.go
  internal/tui/statusbar.go
  internal/tui/update.go
  internal/tui/view.go
Due: unittests, Terminal UI

Implement remaining integration test scenarios for TASK-081
  docs/user-guide/README.md
  docs/user-guide/ainative-integrations.md
  docs/user-guide/authentication.md
  docs/user-guide/configuration.md
  docs/user-guide/faq.md
  docs/user-guide/getting-started.md
  docs/user-guide/installation.md
  docs/user-guide/providers.md
  docs/user-guide/sessions.md
  docs/user-guide/tools.md
  docs/user-guide/troubleshooting.md
  tests/integration/auth_test.go
  tests/integration/chat_test.go
  tests/integration/rlhf_test.go
  tests/integration/strapi_test.go
  tests/integration/tools_test.go
Due: none

Fix all failing E2E tests for TASK-082
  tests/e2e/chat_test.go
  tests/e2e/error_recovery_test.go
  tests/e2e/onboarding_test.go
  tests/e2e/provider_test.go
  tests/e2e/session_test.go
Due: none

Implement performance benchmarking suite for TASK-083
  TASK-083-COMPLETION-REPORT.md
  docs/testing/benchmarking.md
  tests/benchmark/BENCHMARK_VALIDATION_REPORT.md
  tests/benchmark/baseline.json
  tests/benchmark/cli_bench_test.go
  tests/benchmark/database_bench_test.go
  tests/benchmark/helpers.go
  tests/benchmark/memory_bench_test.go
  tests/benchmark/regression_test.go
  tests/benchmark/streaming_bench_test.go
  tests/benchmark/token_bench_test.go
Due: none

Complete comprehensive security audit for TASK-084
  TASK-084-SECURITY-AUDIT-COMPLETION.md
  docs/security/rate-limiting.md
  docs/security/security-audit-report.md
  docs/security/security-best-practices.md
  docs/security/vulnerability-remediation.md
  internal/auth/oauth/client.go
  tests/security/auth_security_test.go
  tests/security/command_injection_test.go
  tests/security/input_validation_test.go
  tests/security/rate_limiting_test.go
  tests/security/sql_injection_test.go
Due: unittests, Authentication

Implement rate limiting and security features for TASK-048
  internal/cmd/rate_limit.go
  internal/config/types.go
  internal/middleware/rate_limiter.go
  internal/middleware/rate_limiter_test.go
  internal/ratelimit/limiter.go
  internal/ratelimit/metrics.go
  internal/ratelimit/package_test.go
  internal/ratelimit/storage.go
  tests/integration/rate_limit_test.go
Due: unittests, Configuration

Add release documentation and task reports
  CHANGELOG.md
  TASK-090-COMPLETION-REPORT.md
  docs/releases/README.md
  docs/releases/compatibility.md
  docs/releases/known-issues.md
  docs/releases/migration-guide.md
  docs/releases/roadmap.md
  docs/releases/v1.0-release-notes.md
  docs/tasks/TASK-074-extended-thinking-backend.md
Due: none

Implement dynamic API key resolution for TASK-006
  docs/security/api-key-resolution.md
  internal/config/resolver.go
  internal/config/resolver_test.go
  internal/config/types.go
  internal/errors/example_recovery.go
  tests/security/api_key_resolution_test.go
Due: unittests, Configuration

Add comprehensive testing team stakeholder report
  docs/testing/FINAL-STAKEHOLDER-REPORT.md
Due: none

feat: Implement advanced error recovery strategies (TASK-034)
  internal/errors/recovery.go
  internal/errors/recovery_test.go
Due: unittests

docs: Create comprehensive authentication system documentation (TASK-049)
  TASK-049-AUTHENTICATION-DOCS-COMPLETION.md
  docs/authentication/README.md
  docs/authentication/api-reference.md
  docs/authentication/oauth-flow.md
  docs/authentication/security-best-practices.md
  docs/authentication/troubleshooting.md
  docs/authentication/user-guide.md
Due: none

feat: Implement Language Server Protocol client (TASK-072)
  internal/lsp/client.go
  internal/lsp/client_simple_test.go
  internal/lsp/client_test.go
  internal/lsp/config.go
  internal/lsp/coverage_boost_test.go
  internal/lsp/edge_case_test.go
  internal/lsp/final_coverage_test.go
  internal/lsp/manager.go
  internal/lsp/manager_extended_test.go
  internal/lsp/manager_test.go
  internal/lsp/types.go
Due: unittests

feat: Integrate LSP code intelligence into TUI (TASK-073)
  docs/LSP_KEYBOARD_SHORTCUTS.md
  docs/TASK-073_COMPLETION_REPORT.md
  internal/tui/completion.go
  internal/tui/completion_test.go
  internal/tui/hover.go
  internal/tui/hover_test.go
  internal/tui/model.go
  internal/tui/navigation.go
  internal/tui/navigation_test.go
  internal/tui/view.go
  pkg/lsp/client.go
  pkg/lsp/client_test.go
  pkg/lsp/types.go
  tests/integration/lsp_tui_test.go
Due: unittests, Terminal UI

feat: Implement conversation export to multiple formats (TASK-076)
  TASK-076-COMPLETION-REPORT.md
  internal/cmd/session.go
  internal/session/export.go
  internal/session/export_test.go
  internal/session/templates/html.tmpl
  internal/session/templates/markdown.tmpl
  internal/session/types.go
Due: unittests

feat: Implement full-text search across conversations (TASK-077)
  internal/database/connection.go
  internal/database/migrations/002_add_fts5_search.sql
  internal/database/queries/search.sql
  internal/database/schema/schema.sql
  internal/session/errors.go
  internal/session/options.go
  internal/session/search.go
  internal/session/search_test.go
Due: unittests, Database

docs: Create comprehensive developer guide (TASK-086)
  TASK-086-DEVELOPER-GUIDE-COMPLETION.md
  docs/developer-guide/README.md
  docs/developer-guide/architecture.md
  docs/developer-guide/code-style.md
  docs/developer-guide/contributing.md
  docs/developer-guide/creating-tools.md
  docs/developer-guide/debugging.md
  docs/developer-guide/extending-providers.md
  docs/developer-guide/setup.md
  docs/developer-guide/testing.md
Due: none

docs: Generate comprehensive API reference documentation (TASK-087)
  docs/api-reference/README.md
  docs/api-reference/authentication.md
  docs/api-reference/configuration.md
  docs/api-reference/core-packages.md
  docs/api-reference/errors.md
  docs/api-reference/events.md
  docs/api-reference/providers.md
  docs/api-reference/tools.md
Due: none

feat: Implement event streaming system for real-time LLM processing (TASK-030)
  internal/events/IMPLEMENTATION_REPORT.md
  internal/events/README.md
  internal/events/doc.go
  internal/events/errors.go
  internal/events/errors_test.go
  internal/events/examples.go
  internal/events/manager.go
  internal/events/manager_test.go
  internal/events/stream.go
  internal/events/stream_test.go
  internal/events/types.go
  internal/events/types_test.go
Due: unittests

feat: Implement session management system (TASK-031)
  docs/session-management-completion-report.md
  docs/session-management-quickstart.md
  internal/cmd/session.go
  internal/cmd/utils.go
Due: unittests

feat: Implement core tools with security sandboxing (TASK-033)
  docs/TASK-033-COMPLETION-REPORT.md
  internal/tools/builtin/bash.go
  internal/tools/builtin/bash_test.go
  internal/tools/builtin/exec_command.go
  internal/tools/builtin/grep.go
  internal/tools/builtin/grep_test.go
  internal/tools/builtin/init.go
  internal/tools/builtin/replace.go
  internal/tools/builtin/replace_test.go
  internal/tools/builtin/sandbox.go
  internal/tools/builtin/sandbox_test.go
  internal/tools/interface.go
Due: unittests

feat: Implement OpenAI provider with AINative embeddings (TASK-025)
  docs/EMBEDDINGS.md
  docs/OPENAI_PROVIDER.md
  docs/OPENAI_QUICKSTART.md
  docs/TASK-025_COMPLETION_REPORT.md
  examples/embeddings_example.go
  examples/openai_provider_example.go
  internal/embeddings/ainative.go
  internal/embeddings/ainative_test.go
  internal/provider/openai/openai.go
  internal/provider/openai/openai_test.go
  internal/provider/openai/sse.go
  internal/provider/openai/sse_test.go
  internal/provider/openai/types.go
  tests/integration/openai_test.go
Due: unittests
